<div class="row">
  <button *ngIf="!isPlaying && !isColoringBox" class="btn btn-primary" (click)="onStartGame()">Start game!</button>
  <div class="col d-flex flex-column justify-content-center align-items-center" *ngIf="isPlaying && !hasPlayerChosen">
    <span>Guess the color!</span>
    <div *ngIf="isColoringBox" class="color-box" [ngClass]="guessColor"></div>
    <cm-color-matcher-form *ngIf="!isColoringBox"></cm-color-matcher-form>
  </div>
  <div class="col d-flex flex-column justify-content-center align-items-center" *ngIf="isPlaying && hasPlayerChosen">
    <span style="font-size: 3rem;">{{ winnerText }}</span>
    <button class="btn btn-primary mt-5" (click)="onStartGame()">Start new game!</button>
  </div>
</div>
